@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    @apply text-neutral-800 bg-white;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-neutral-100;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary-300 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-400;
  }
}

@layer utilities {
  /* Removed scroll-snap logic to avoid flicking */
}
